#Define Website directory
WEBSITE_DIR="/my-website/directory/here/"
# Define remote URL to be replaced by sed.
REMOTE_URL="https://raw.githubusercontent.com/mygithubuser/myrepo/mybranch/docs/"
LOCAL_URL="./assets/docs/"
