# Journal Helper - Raw Session Data
# Prevents raw terminal logs from being pushed to GitHub
docs/logs/*.log
# Metadata for scriptreplay; irrelevant for documentation
docs/logs/*.timing
# Filter against .env files
*.env
# Filter against the Ansible keys
host-configs/ansible/playbooks/openwrt/keys/*
