# btrbk-template.env
# --- SYSTEMD INFRASTRUCTURE VARIABLES --- #
#This will be your unit and .conf filename. Choose something short and hyphen-separated. It determines the mount location for the service.
JOB_NAME="btrbk-root" 
#Choose something descriptive. Templates handle differentiation between unit types.
DESCRIPTION="BTRBK Root Filesystem Backup"
#UUID of your BTRFS device
BY_UUID="/dev/disk/by-uuid/12345678-1234-1234-1234-123456789abc"
# This must match your job name: ie: for btrbk-home it would be /btrbk/home, etc.
MOUNT_LOCATION="/btrbk/root"
#Set your mount options here. Subvolume is mandatory, RO is the default for BTRBK.
MOUNT_OPTIONS="subvol=@btrbk"
# Highly recommended for verbose visibilty, organized with tables and explanations.
FLAGS="-vLS"
# Can be set to dryrun for testing
COMMAND="run"
# Systemd timer frequency. You can specify the hour of the day it is run, or the day of the week, etc.
FREQUENCY="*-*-* 04:00:00"
# --- SSH CONFIGURATION (Leave blank if strictly local) ---
SSH_USER="root"
SSH_IDENTITY="/etc/btrbk/ssh/id_ed25519"
# --- BTRBK CONFIGURATION VARIABLES --- #
# Where are you storing your logs, if you are
TRANSACTION_LOG="/var/log/btrbk-remote.log"
# Ondemand is recommended if a secondary drive/location is involved
SNAPSHOT_CREATE="always"
# BTRBK calls it subvolume, but it should be thought of as the subvolume mountpoint (eg: /, /home, /files, etc., NOT @, @home, @files, etc.). However, when your subvolume conventions do match @ for /, @home for /home (ubuntu-like naming conventions) you can use TARGET_SUBVOL=root or TARGET_SUBVOL=home and it will assume root means the @ subvolume mounted at / and home means the @home subvolume mounted at /home.
TARGET_SUBVOL="/"
# Should almost never be changed
INCREMENTAL="yes"
# What time does your day start according to your backups?
PRESERVE_HOUR_OF_DAY="0"
# What day does your week start according to your backups?
PRESERVE_DAY_OF_WEEK="monday"
# --- Source Retention (Local Snapshots) --- #
# Never delete a snapshot unless if there aren't at least this amount (2 dailies, 24 hourlies, 7 weeklies, etc.) Choose one.
SNAPSHOT_PRESERVE_MIN="2d"
# How many, if any, hourly snapshots should be preserved at all times
SNAPSHOT_PRESERVE_HOURLY="24h"
# How many, if any, daily snapshots should be preserved at all times
SNAPSHOT_PRESERVE_DAILY="7d"
# How many, if any, weekly snapshots should be preserved at all times
SNAPSHOT_PRESERVE_WEEKLY="0w"
# How many, if any, monthly snapshots should be preserved at all times
SNAPSHOT_PRESERVE_MONTHLY="0m"
# How many, if any, yearly snapshots should be preserved at all times
SNAPSHOT_PRESERVE_YEARLY="0y"
# --- Target Retention (Remote SSH Backup) --- #
SECONDARY_MOUNT_LOCATION="ssh://backup.my-remote-host.com/mnt/btr_backup"
SECONDARY_PRESERVE_MIN="latest"
# Never delete a snapshot unless if there aren't at least this amount (2 dailies, 24 hourlies, 7 weeklies, etc.) Choose one.
TARGET_PRESERVE_MIN="2d"
# How many, if any, hourly snapshots should be preserved at all times
TARGET_PRESERVE_HOURLY="24h"
# How many, if any, daily snapshots should be preserved at all times
TARGET_PRESERVE_DAILY="7d"
# How many, if any, weekly snapshots should be preserved at all times
TARGET_PRESERVE_WEEKLY="0w"
# How many, if any, monthly snapshots should be preserved at all times
TARGET_PRESERVE_MONTHLY="0m"
# How many, if any, yearly snapshots should be preserved at all times
TARGET_PRESERVE_YEARLY="0y"
