config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/a000000.wifi'
	option band '2g'
	option channel '1'
	option cell_density '0'
	option htmode 'HT20'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network '{{ lan_interface }}'
	option mode 'ap'
	option ssid '{{ lan_wifi_name }}'
	option encryption 'psk2'
	option key '{{ lan_wifi_password }}'
	option ieee80211r '1'
	option ft_over_ds '0'
	option ft_psk_generate_local '1'
	option macfilter 'deny'
	lst maclist '94:8c:d7:f6:5a:3c'

config wifi-device 'radio1'
	option type 'mac80211'
	option path 'platform/soc/a800000.wifi'
	option band '5g'
	option channel '149'
	option htmode 'VHT80'
	option cell_density '0'
	option txpower '20'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network '{{ lan_interface }}'
	option mode 'ap'
	option ssid '{{ lan_wifi_name }}'
	option encryption 'psk2'
	option key '{{ lan_wifi_password }}'
	option ieee80211r '1'
	option mobility_domain '{{ lan_mobility_domain }}'
	option ft_over_ds '0'
	option ft_psk_generate_local '1'
	option macfilter 'deny'
	lst maclist '94:8c:d7:f6:5a:3c'

config wifi-iface 'wifinet5'
	option device 'radio1'
	option network '{{ mesh_interface }}'
	option mode 'mesh'
	option mesh_fwding '0'
	option mesh_id '{{ mesh_id }}'
	option encryption 'sae'
	option key '{{ mesh_wifi_password }}'
	option mesh_rssi_threshold '0'

config wifi-iface 'wifinet3'
	option device 'radio0'
	option mode 'ap'
	option ssid '{{ guest_wifi_name }}'
	option encryption 'psk2'
	option key '{{ guest_wifi_password }}'
	option ieee80211r '1'
	option mobility_domain '{{ guest_mobility_domain }}'
	option ft_over_ds '0'
	option ft_psk_generate_local '1'
	option network '{{ guest_interface }}'

config wifi-iface 'wifinet4'
	option device 'radio0'
	option mode 'ap'
	option ssid '{{ iot_wifi_name }}'
	option encryption 'psk2'
	option key '{{ iot_wifi_password }}'
	option ieee80211r '1'
	option mobility_domain '{{ iot_mobility_domain }}'
	option ft_over_ds '0'
	option ft_psk_generate_local '1'
	option network '{{ iot_interface }}'
	option macfilter 'deny'
	lst maclist '94:8c:d7:f6:5a:3c'

config wifi-iface 'wifinet8'
	option device 'radio0'
	option mode 'ap'
	option ssid '{{ tv_wifi_name }}'
	option encryption 'psk2'
	option key '{{ tv_wifi_password }}'
	option ieee80211r '1'
	option mobility_domain '{{ tv_mobility_domain }}'
	option ft_over_ds '0'
	option ft_psk_generate_local '1'
	option network '{{ tv_interface }}'
